.splash {
  height: 100vh;
  width: 100vw;
}

h1.splash__title {
  color: #fff;
  font-family: 'Sail-Regular', sans-serif;
  text-align: center;
  margin-top: 8rem;
  font-size: 3rem;
  font-weight: lighter;
}
