.scoreboard-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  border-radius: 4px;
  background: #d9d9d9;
}

.scoreboard-container ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none
}

.scoreboard-container ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: auto;
}

button.btn {
  font-weight: 600;
}